.checkout-page {
  display: flex;
  justify-content: space-around;
}

.resume-products {
  border: 5px black solid;
  height: 500px;
  width: 300px;
}

.form-pagamento {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 300px;
}

.payment-container {
  border: 2px black solid;
}
