.checkout-page {
  display: flex;
  justify-content: space-around;
}

.resume-products {
  border: 1px black solid;
  box-shadow: 3px 3px gray;
  height: 500px;
  width: 400px;
}

.form-pagamento {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 400px;
}

.payment-container {
  border: 2px black solid;
}

.product-cart-checkout {
  border-bottom: 1px solid black;
  display: flex;
}

.checkout-btn {
  align-self: center;
  background-color: yellow;
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
  cursor: pointer;
  width: 90px;
}
