main {
  background-color: #ebebeb;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.categorias-list {
  background-color: white;
  box-shadow: 2px 2px 2px;
  display: flex;
  flex-direction: column;
  float: right;
  font-style: italic;
  justify-content: flex-start;
  margin-left: 15px;
  padding-left: 15px;
  width: 10%;
}

.initial-message {
  align-content: center;
  align-self: center;
  font-size: large;
}

.products-list {
  padding-left: 10px;
  max-width: 1200px;
}
.card-container {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;

}

.product-card {
  background-color: #fff;
  box-shadow: 2px 2px 2px;
  margin: 10px;
  padding: 5px;
  width: 25%;
}

.product-card:hover {
  box-shadow: 3px 3px 3px;
}

.input-btn-pesquisa {
  background-color: yellow;
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: 120px;
}

.input-btn-pesquisa:hover {
  box-shadow: 2px 2px 2px;
  font-weight: 900;
}

form {
  display: flex;
  justify-content: center;
}
