main {
  background-color: bisque;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.categorias-list {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 15px;
  width: 300px;
}

.input-btn-pesquisa {
  background-color: yellow;
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: 120px;
}

.input-btn-pesquisa:hover {
  box-shadow: 2px 2px 2px;
  font-weight: 900;
}

form {
  display: flex;
}
